{% extends "base.html" %}

{% block title %}Ahsan Sultan{% endblock %}

{% block content %}
   <section class="projects">
    <h2>Featured Projects</h2>
    <h3 class="section-text">
A few ideas I’m currently learning, building, and experimenting with at the intersection of chemistry and computer science. I’m exploring this space and slowly building tools to help connect the two. Still learning, experimenting, and figuring things out — please bear with me. More coming soon!

    </h3>

    <div class="project-grid">
<!--
        <article class="project-card">
            <img src="{{ url_for('static', filename='images/project1.jpg') }}"
                 alt="Project 1">

            <div class="project-content">
                <span class="project-type">Web App</span>
                <h3>Project Name</h3>
                <p>
                    A short description of what this project does.
                </p>
                <a href="/projects/project1">View Project →</a>
            </div>
        </article>

      --!>

    </div>
</section>
{% endblock %}
