{% extends "base.html" %}

{% block title %}Ahsan Sultan{% endblock %}

{% block content %}
   <section class="projects">
    <h2>Featured Projects</h2>
  <div class="section-text">
    <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR92fwFxw63EYE6OsIjY-efLBWstnrxk5Q-dTwhbtsa7A&s=10"
        class="bimg"
    >

    <div class="text-overlay">
        A few ideas I’m currently learning, building, and experimenting with
        chemistry and computer science.
    </div>
</div>

    <div class="project-grid">
        <article class="project-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTORCuMQG2jfd64J1MT0SXjkxwWgsKv8jLsW8h2ioiFAQ&s=10"
                 alt="Project 1">

            <div class="project-content">
                <span class="project-type">Web App</span>
                <h3>A basic Compound visulizer</h3>
                <p>
                    A Basic 2d and 3d visulizer for compounds.
                </p>
                <a href="#">View Project →</a>
            </div>
        </article>

     <article class="project-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScSAsUHyzlGLJz9vmIf0O7qjFAhPIhiTQCtGCRepJzig&s=10"
                 alt="Project 1">

            <div class="project-content">
                <span class="project-type">Web App</span>
                <h3>A basic Compound Porperty predictor</h3>
                <p>
                    A Basic ML property predictor for compounds.
                </p>
                <a href="#">View Project →</a>
            </div>
        </article>

    </div>
</section>
{% endblock %}
