{% extends "base.html" %}

{% block title %}Ahsan Sultan{% endblock %}

{% block content %}

   <section class="projects">
   <h3  class="hero_lines">🧪 + 💻 → ⚗️ → ❓ → 👀</h3>
   <div class="quote-box">
    <div id="quote"></div>
    <div id="quote-author"></div>
</div>
   
    <h2>Featured Projects</h2>

<br/>

    <div class="project-grid">
        <article class="project-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTORCuMQG2jfd64J1MT0SXjkxwWgsKv8jLsW8h2ioiFAQ&s=10"
                 alt="Project 1">

            <div class="project-content">
                <span class="project-type">Web App</span>
                <h3>A basic Compound visulizer</h3>
                <p>
                    A Basic 2d and 3d visulizer for compounds.
                </p>
                <a href="#" class="under-dev">View Project →</a>
            </div>
        </article>

     <article class="project-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScSAsUHyzlGLJz9vmIf0O7qjFAhPIhiTQCtGCRepJzig&s=10"
                 alt="Project 1">

            <div class="project-content">
                <span class="project-type">Web App</span>
                <h3>A basic Compound Porperty predictor</h3>
                <p>
                    A Basic ML property predictor for compounds.
                </p>
                <a href="#"class="under-dev">View Project →</a>
            </div>
        </article>

    </div>
</section>
{% endblock %}
